<div *ngIf="!listTask.length" class="container-md">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">No hay tareas</h1>
        </div>
    </div>
</div>

<div *ngIf="listTask.length" class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Listado de tareas</h1>
        </div>
    </div>

    <div class="row mb-3" >
        <div class="col-12">
            <select class="form-select" [(ngModel)]="selectedState">
                <option value="">Todas</option>
                <option value="true">Completadas</option>
                <option value="false">Pendientes</option>
            </select>
        </div>
    </div>

    <div>
        <div *ngFor="let task of filterListTask()" class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <input type="checkbox" [checked]="task.state" (change)="task.state = !task.state">
                     {{task.name_task}} - Fecha limite: {{task.deadline | date}}</h5>
                <p class="card-text">Estado: {{task.state ? 'Completada' : 'Pendiente'}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let user of task.users" class="list-group-item">
                    Nombre: {{user.name}} - Edad: {{user.age}}
                    <ul *ngFor="let skill of user.skills">
                        <li class="list-group-item">{{skill}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>