<div *ngIf="!listTask.length" class="container-md">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">No hay tareas</h1>
        </div>
    </div>
</div>

<div *ngIf="listTask.length" class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Listado de tareas</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <select class="form-select" [(ngModel)]="selectedState">
                <option value="">Todas</option>
                <option value="true">Completadas</option>
                <option value="false">Pendientes</option>
            </select>
        </div>
    </div>

    <div *ngIf="filterListTask().length">
        <task-card-task *ngFor="let task of filterListTask()" [task]="task"></task-card-task>
    </div>

    <div *ngIf="!filterListTask().length">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">No hay tareas {{ selectedState === 'true' ? 'completadas' : 'pendientes' }}</h1>
            </div>
        </div>
    </div>

</div>